{% extends 'base.html.twig' %}

{% block main %}

    <h2>Mise à jour des articles</h2>
    {% if article.title is not null and article.content is not null %}
        <section class="formSection">
            <p>Enregistrement de la création du nouvel article "{{ article.title }}" ;)</p>

            <p>Résumé du nouvel article : </p>
            <ul id="formSend">
                <li><span>Titre</span> : {{ article.title }}</li>
                <li><span>Contenu de l'article</span> : {{ article.content }}</li>
                <li><span>l'image</span> :
                    <div><img src="{{ article.image }}" alt="{{ article.title }}"/></div>
                </li>
            </ul>
        </section>

    {% else %}

        {# Sinon j'affiche mon formulaire pour création d'un nouvel article#}
        <section>
            <form method="POST">
                <div>
                    <label for="title">Titre</label>
                    <input type="text" name="title" placeholder="Titre" required>
                </div>
                <div>
                    <label for="content">Contenu de l'article</label>
                    <input type="text" name="content" placeholder="contenu" required>
                </div>
                <div>
                    <label for="image">Lien URL de l'image</label>
                    <input type="text" name="image" placeholder="Image">
                </div>
                <button type="submit">Envoyer</button>
            </form>
        </section>
    {% endif %}

{% endblock main %}


{% block metatitle %}
Super Article | Mise à jour d'un article
{% endblock %}

