{% extends 'base.html.twig' %}

{% block metatitle %} Super Article | Article filtré {{ article.title }} {% endblock %}

{% block main %}
    <article>
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <div class='imgContainer'>
            <img src="{{ article.image }}" alt="{{ article.title }}" class="img">
        </div>
    </article>
{% endblock main %}
