{% extends 'base.html.twig' %}

{% block metatitle %} Super Article | Article filtré {{ article.title }} {% endblock %}

{% block main %}
    <section>
        <article class="articleSolo">
            <h2 class="center">{{ article.title }}</h2>
            <p>{{ article.content }}</p>
            <div class='imgContainer'>
                <img src="{{ article.image }}" alt="{{ article.title }}" class="img">
            </div>
        </article>
    </section>
{% endblock main %}
