<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# Je vais vouloir modifier mon meta title selon la page affiché donc --> 1 block #}
    <title>{% block metatitle %} {% endblock metatitle %}</title>
    <link rel="stylesheet" href= {{ asset('asset/style/style.css') }}>
</head>

<body>
<header>
    <h1>Un site d'articles fantastiques</h1>
    <nav>
        <ul>
            {# Pour faire mes lien j'utilise le path + le nom indiqué dans mon routeur #}
            <li><a href= "{{ path('home') }}" class="liHeader">Accueil</a></li>
            <li><a href="{{ path('articles') }}" class="liHeader">Articles</a></li>
            <li><a href="{{ path('categories') }}" class="liHeader">Catégories</a></li>
            <li><a href="{{ path('contactForm') }}" class="liHeader">Contact</a></li>
            <li>
                {# je me crée un formulaire qui renvoie sur la page search articles avec path #}
                <form method="get" action="{{ path('search_results') }}">
                    <input type="text" id="search" name="search" placeholder="Rechercher un article" value="{{ app.request.get('search') }}">
                    <button type="submit">Rechercher</button>
                </form>
            </li>
        </ul>
    </nav>

</header>

<main>
    {% block main %}
    {% endblock main %}
</main>

<footer>
    <p>Made with <3</p>
</footer>
</body>
</html>